
{% set from_year = from_year|default(currentYear() - 4) %}
{% set to_year = to_year|default(currentYear()) %}
{% set selected = selected|default(currentYear()) %}
<select
        id="{{ component_id }}"
        selected="{{ selected }}"
        name="{{ name }}"
        class="ui dropdown {{ class }}">
    {% if hide_all != true %}    
        <option 
            {{ (selected is empty) ? 'selected' : '' }}           
            value=" ">
            {{ empty }}
        </option>
    {% endif %}
   
    {% for year in range(from_year,to_year) %}
        <option 
            {{ (year == selected) ? 'selected' : '' }}          
            value="{{ year }}">
            {{ year }} 
        </option>
    {% endfor %}
</select>
