{% set readonly = properties.gePropertiesList(true,false) %}
{% set editable = properties.gePropertiesList(false,false) %}
{% set hiddens = properties.gePropertiesList(false,true) %}
{% set groups = properties.getGroups() %}
{% set show_readonly = show_readonly|default(true) %}

{% if hiddens|length == 0 and readonly|length == 0 and editable|length == 0 and groups|length == 0 %}
    <div class="ui segment">
        {{ labels.empty }}
    </div>
{% else %}
    {{ component('components:properties.view.items',{ items: editable }) }}  

    {% for group in groups %}  
        {% set editable = properties.gePropertiesList(false,false,group.value) %}   
        <div class="ui segment">
            <h4>{{ group.title }}</h4>
            {{ component('components:properties.view.items',{ items: editable }) }}  
        </div>   
    {% endfor %}

    {% if readonly is not empty %}
        {{ component('components:properties.view.items',{ items: hiddens, title: labels.readonly }) }}  
    {% endif %}

    {% if hiddens is not empty %}
        {{ component('components:properties.view.items',{ items: hiddens, title: labels.hidden }) }}           
    {% endif %}

{% endif %}
   