{% set code_id = code_id|default('code') %}
{% set class = class|default('p-1 border rounded') %}
{% set language = language|default('html') %}
{% set trim_space = (trim_space is null) ? true : trim_space %}
<div class="{{ class }}">   
    {% if hide_copy != true %}
        {{  component('components:clipboard.copy',{ 
                selector: '#' ~ code_id, 
                type: 'element',
                escape: true,
                class: 'ui mini compact basic icon button' 
            }) 
        }}     
    {% endif %}
    {% if trim_space == true %}
    {% apply spaceless %}
    <pre><code style="padding:1rem" class="{{ language }}" id="{{ code_id }}">{% autoescape false %}{{ content|escape }}{% endautoescape %}</code></pre>
    {% endapply %}
    {% else %}
    <pre><code style="padding:1rem" class="{{ language }}" id="{{ code_id }}">{% autoescape false %}{{ content|escape }}{% endautoescape %}</code></pre>
    {% endif %}
</div>