{% set code_id = code_id|default('code') %}
{% set language = language|default('html') %}
{% set trim_space = (trim_space is null) ? true : trim_space %}
{% if escape_content == true %}
    {% autoescape false %}
        {% set content = content|escape %}
    {% endautoescape %}
{% endif %}
<div class="{{ class|default('p-1 border rounded') }}">   
    {% if hide_copy != true %}  
        {{  component('semantic~clipboard.copy',{ 
                selector: '#' ~ code_id, 
                type: 'element',
                escape: true,
                class: 'ui mini compact basic icon button' 
            }) 
        }}         
    {% endif %}

    {%- if trim_space == true -%}
        <pre><code class="{{ language }}" id="{{ code_id }}">{{- content -}}</code></pre>   
    {%- else -%}
        <pre><code class="{{ language }}" id="{{ code_id }}">{{ content }}</code></pre>
    {% endif %}
</div>