{% for property in items %}  
    {% if property.group is not empty %}
        {% set field_name = property.group ~ '[' ~ property.name ~ ']' %}
    {% else %}
        {% set field_name = property.name %} 
    {% endif %}    
    {% set rule = (property.required == true) ? 'rule="empty"' : '' %}    
    {% if property['type'] == 7 %}
        <div class="field {{ property.required|ifthen(true,'required') }}">      
            <label>{{ property.title }}</label>
            <div class="ui labeled input">
                <div class="ui label">http://</div>
                <input {{ rule }} type="text" name="{{ field_name }}" value="{{ property.value }}"> 
            </div>                
        </div>
    {% elseif property['type'] == 3 %}  
        {{  component('components:form.fields.checkbox',{
                label: property.title,
                class: property.required|ifthen(true,'required'),
                name: field_name,
                value: property.value
            }) 
        }}          
    {% elseif property['type'] == 4 %}
        <div class="field {{ property.required|ifthen(true,'required') }}">  
            <label>{{ property.title }}</label>                   
            <select class="ui dropdown" name="{{ field_name }}" {{ rule }}>
                {% for item in property.items %}
                <option value="{{ item }}" {{ property.value|ifthen(item,'selected') }}>{{ item }}</option>
                {% endfor %}
            </select>                
        </div>
    {% elseif property['type'] == 6 %}
        {{  component('components:form.fields.password',{
                label: property.title,
                class: property.required|ifthen(true,'required'),
                name: field_name,
                value: property.value
            }) 
        }}       
    {% else %}
        <div class="field {{ property.required|ifthen(true,'required') }}">      
            <label>{{ property.title }}</label>                 
            <input {{ rule }} type="text" name="{{ field_name }}" value="{{ property.value }}"> 
        </div>
    {% endif %}
{% endfor %}